*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
}

h5 {
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
}
h4 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: normal;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
  line-height: normal;
}
h2 {
  font-size: 3.5rem;
  font-weight: normal;
  line-height: normal;
}
h1 {
  font-size: 4rem;
  font-weight: normal;
  line-height: normal;
}

.about,
.contact,
.expertise,
.footer,
.header,
.navigation,
.project,
.skills {
  animation: appear 1s ease-in-out 0s 1 normal none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
