*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

button {
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}
button:hover {
  transform: translateY(-3px);
}

h6 {
  font-size: clamp(1px, 8vw, 1.5rem);
  font-weight: normal;
  line-height: normal;
}

h5 {
  font-size: clamp(1px, 8vw, 2rem);
  font-weight: normal;
  line-height: normal;
}
h4 {
  font-size: clamp(1px, 8vw, 2.5rem);
  font-weight: normal;
  line-height: normal;
}
h3 {
  font-size: clamp(1px, 8vw, 3rem);
  font-weight: normal;
  line-height: normal;
}
h2 {
  font-size: clamp(1px, 8vw, 3.5rem);
  font-weight: normal;
  line-height: normal;
}
h1 {
  font-size: clamp(1px, 8vw, 4rem);
  font-weight: normal;
  line-height: normal;
}
p,
label {
  font-size: clamp(1px, 8vw, 1rem);
  font-weight: normal;
  line-height: normal;
}

/* animation on view */
.about,
.contact,
.expertise,
.footer,
.header,
.navigation,
.project,
.skills {
  animation: appear 1s ease-in-out 0s 1 normal none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
