:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-zinc-50);
  background-color: var(--color-zinc-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --text-color: var(--color-zinc-50);
  --text-color-reverse: var(--color-zinc-950);
  --primary-color: var(--color-zinc-50);
  --secondary-color: var(--color-zinc-900);
  --bg-color: var(--color-zinc-800);
  --border-color: var(--color-zinc-50);
  --subject-color: orangered;
  --download-btn-text-color: var(--text-color);
  --map-box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 1);
  a {
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-zinc-950);
    background-color: var(--color-zinc-50);

    /* variables */
    --text-color: var(--color-zinc-950);
    --text-color-reverse: var(--color-zinc-50);
    --primary-color: var(--color-zinc-900);
    --secondary-color: var(--color-zinc-100);
    --bg-color: var(--color-zinc-50);
    --border-color: var(--color-zinc-950);
    --subject-color: tomato;
    --download-btn-text-color: var(--text-color-reverse);
    --map-box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.2);
    a {
      color: var(--text-color);
    }
  }
}
