:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sidebar-bg: #213547;
  --border-color: #ffffffde;
  --text-color: #ffffffde;
  --text-hover: #242424;
  a {
    color: rgba(255, 255, 255, 0.87);
  }
  .bg-btn {
    background-color: #ffffffde;
    color: #242424;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --sidebar-bg: #d8edff;
    --border-color: #242424;
    --text-color: #242424;
    --text-hover: #ffffffde;
    a {
      color: #213547;
    }
    .bg-btn {
      background-color: #242424;
      color: #ffffffde;
    }
  }
  /* a:hover {
    color: #747bff;
  } */
  /* button {
    background-color: #f9f9f9;
  } */
}
