.expertise {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /* padding-top: 10rem; */
}

.expertise :where(table) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-collapse: collapse;
}

.expertise :where(table) tbody {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.expertise :where(table) td {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

  width: clamp(100px, 90vw, 300px);

  .description {
    color: grey;
  }
}
.expertise :where(table) td > a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
