.skills {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h5 {
    text-align: center;
  }
}

.skills :where(.container) {
  display: flex;
  flex-flow: column nowrap;
}
.skills :where(.container) .skills-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.skills :where(.container) .skills-list > li > img {
  aspect-ratio: 1/1;
  width: clamp(1rem, 10vw, 6.25rem);
  object-fit: contain;
}

.skills :where(.container) .skills-list > li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
