.about {
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about :where(.profile) {
  aspect-ratio: 1/1;
  width: 250px;
  object-fit: contain;

  border-radius: 50%;
}

.about :where(.profile-name) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: blue; */
}

.about :where(.name-description) {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  /* background-color: red; */
}
