.about {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @apply transition-transform;

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .container :where(img) {
    aspect-ratio: 1/1;
    width: clamp(100px, 90vw, 350px);
    object-fit: cover;
    border-radius: 0.5rem;

    box-shadow: var(--map-box-shadow);
    transition: 0.2s;
  }
  .container :where(img):hover {
    @apply rotate-x-10 rotate-y-25 -rotate-z-5;
  }

  /* ? profile name */
  .container :where(.profile-name) {
    width: clamp(100px, 90vw, 500px);
    padding: 1rem;

    /* .full-name {
      font-size: clamp(1rem, 8vw, 2rem);
    } */
    /* .profession {
      font-size: clamp(1rem, 8vw, 1rem);
    } */
    .description {
      color: grey;
      text-indent: 2rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 426px) {
  .about :where(.profile-name) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .full-name,
    profession {
      text-align: center;
    }
    .description {
    }
  }
}
