.contact {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.contact :where(.container) {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  .map {
    flex-grow: 1;
    border: none;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 500px;
  }
  .details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem;
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .contact :where(.container) .map {
    width: 300px;
  }
}
