.contact {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.contact :where(.map) {
  border: none;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 500px;
}

.contact :where(.container) {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1rem;
}
