@import "tailwindcss";

.header {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .container {
    max-width: 500px;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
  }

  .description {
    color: grey;
    text-indent: 2rem;
    text-align: justify;
  }

  /* ? profile pic */
  .profile-pic {
    aspect-ratio: 1/1;
    object-fit: contain;
    height: auto;
    width: clamp(100px, 80vw, 400px);

    border-radius: 50%;
    box-shadow: var(--map-box-shadow);
  }

  .center-img {
    display: grid;
    place-content: center;
  }

  .introduction {
    font-size: clamp(1rem, 8vw, 4rem);
    font-weight: 500;
  }
  /* ? .greeting, */
  .profession {
    font-size: clamp(1rem, 4vw, 2rem);
  }

  /* ? buttons */
  .buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
  }

  .about-me-btn {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    position: relative;
  }

  .about-me-btn a {
    border: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--border-color);

    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .about-me-btn:hover a {
    background-color: var(--border-color);
    color: var(--text-color-reverse);

    @apply animate-pulse;
  }

  .download-btn {
    border: none;
    flex-grow: 1;
    span {
      font-size: 1rem;
    }
  }
  .download-btn:hover a {
    background-color: var(--border-color);
    border-color: var(--border-color);
    color: var(--text-color-reverse);

    @apply animate-pulse;
  }
  .download-btn > a {
    padding: 8px;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 4px;
    background-color: var(--subject-color);
    border: 1px solid var(--subject-color);
    color: var(--download-btn-text-color);
  }
}

@media screen and (max-width: 426px) {
  .header :is(.container) {
    align-items: center;
  }
}
