.header {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  overflow: hidden;
}

/* .header :where(.bg) {
  width: 100%;
  filter: brightness(50%);
  z-index: -1;
} */
