.navigation {
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  animation: navigation 1s ease-in-out 0s 1 normal none;

  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(5px);
}
@keyframes navigation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.navigation :where(.logo) a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  span {
    font-variation-settings: "FILL" 1;

    color: orangered;
  }
}

.navigation :where(.links) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation :where(.links) a {
  display: flex;
  transition: 0.2s;
}

.navigation :where(.links) a:hover {
  color: orangered;
}

.navigation :where(.menu-links) {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation :where(.links) {
    display: none;
  }
  .navigation :where(.menu-links) {
    display: block;
    position: relative;
    li a {
      display: flex;
      align-items: center;
      justify-content: start;

      border-radius: 50%;
      white-space: nowrap;
    }
    .menu-content {
      position: absolute;
      top: 2.5rem;
      right: -40px;
      z-index: 999;

      height: 100vh;
      width: 0;
      overflow: hidden;
      opacity: 0;
      transition: 1s;

      background-color: var(--sidebar-bg);
      a {
        padding: 1rem 2rem;
      }
    }
  }
}

.navigation :where(.links) li:nth-child(5) a {
  background-color: var(--sidebar-bg);
  border-radius: 2rem;
  padding: 0 0 0 0.5rem;

  align-items: center;
  gap: 0.2rem;
  overflow: hidden;
  transition: 0.2s;
  p {
    animation: liChild4 2s ease-in-out 0s 1 normal none;
  }
  span {
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    color: var(--text-hover);
    border-radius: 50%;
    padding: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 1;
  }
}
@keyframes liChild4 {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 3.4rem;
    opacity: 1;
  }
}
.navigation :where(.links) li:nth-child(5) a:hover span {
  font-variation-settings: "FILL" 1;
  color: orangered;
}

.navigation :where(.github-link) a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navigation :where(.github-link) img {
  aspect-ratio: 1/1;
  width: 25px;
  border-radius: 50%;
}

.navigation :where(.github-link):hover a::after {
  content: "Github";
  position: absolute;
  background-color: var(--sidebar-bg);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-top: 5rem;
}
