.navigation {
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  animation: navigation 2s ease-in-out 0s 1 normal none;
}
@keyframes navigation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.navigation :where(.logo) a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  span {
    font-variation-settings: "FILL" 1;
  }
}

.navigation :where(.links) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation :where(.links) a {
  display: flex;
  padding-block: 1rem;
}

.navigation :where(.menu-links) {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation :where(.links) {
    display: none;
  }
  .navigation :where(.menu-links) {
    display: block;
    position: relative;
    li a {
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 1rem 2rem;
    }
    .menu-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: var(--sidebar-bg);
    }
  }
}
