.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;

  background-color: var(--bg-color);

  /* ? a */
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 2rem;
  }

  /* ? links */
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links :where(a):hover {
    color: var(--subject-color);
  }

  .logo :where(span) {
    font-variation-settings: "FILL" 1;
    color: var(--subject-color);
  }
  .logo :where(h6) {
    font-weight: 600;
    b {
      color: var(--subject-color);
      margin-inline-start: 2px;
    }
  }
}
@media screen and (max-width: 768px) {
  .navigation :is(.links) {
    display: none;
  }
}
